// Your variable overrides
// $body-bg: #000;
// $body-color: #ccc;

// $black:    #fff;
$black:    #fff;
$gray-900: #f8f9fa;
$gray-800: #e9ecef;
$gray-700: #dee2e6;
$gray-600: #ced4da;
$gray-500: #adb5bd;
$gray-400: #6c757d;
$gray-300: #495057;
$gray-200: #343a40;
$gray-100: #212529;
$white:    #000;

$body-color: $gray-800;
$body-bg: $white;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "FontinRegular";
}
table td,
table th {
  border: 1px inset grey;
}

tr.even {
  background: #eee;
}
tr.odd {
  background: #ddd;
}

.item-search-results img,
.dropdown img {
  max-height: 2em;
  max-width: 2em;
}
.mod-gentype-group .chance {
  float: right;
}
.collapse-caret {
  float: left;
  margin-left: -0.6em;
  width: 1em;
  line-height: 1.5 !important;
}
.required-level {
  float: right;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.2em;
  background: $gray-200;
}
.btn-crafting img {
  max-height: 1.5em;
}

$normal-rarity: $gray-900;
$magic-rarity: rgb(136, 136, 255);
$crafted-rarity: cyan;
$rare-rarity: yellow;
$mundane-gray: gray;

.item {
  text-align: center;
}
.mod-stat {
  color: $magic-rarity;
}
.bench-mod.mod-stat {
  color: $crafted-rarity;
}
.item-influence,
.mod-details {
  color: $mundane-gray;
  line-height: 0.7;
  font-size: 70%;
  font-style: italic;
}
.item-title-normal {
  color: $normal-rarity;
}
.item-title-magic {
  color: $magic-rarity;
}
.item-title-rare {
  color: $rare-rarity;
}
.blocked-modgroup {
  color: $danger;
}

.filter-criteria {
  text-align: left;
}
.filter-criteria label {
  text-align: left;
  justify-content: left;
}
.filter-criteria input {
  width: 100%;
}
input.filter-criteria-minmax {
  width: 5em !important;
}

.icon.icon-small {
  height: 1.2em;
}
.progress-bar {
  transition: none;
}
.influence-selector {
  justify-content: center;
}
